@import "./basics.css";
@import "./flex-grid.css";

/**LAYOUT**/

.main-size {
    height: 85vh;
    max-width: 870px;
    margin: 0 auto;
}

.main-container {
    height: 85vh;
    max-width: 870px;
    margin: 0 auto;
}

.dark-theme {
    background: rgb(31, 31, 31);
    background: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(121, 121, 121, 1) 100%);
    color: rgb(240, 240, 240);
}

.light-theme {
    background: rgb(242, 234, 234);
    background: linear-gradient(0deg, rgba(242, 234, 234, 1) 0%, rgba(227, 210, 210, 1) 100%);
    color: rgb(31, 31, 31);
}

.bg-primary {
    background-color: #b5b0b0;
}

.contain-app {
    height: 85vh;
}


/**HOME**/

.home-page {
    background-image: url(../images/home.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home-container {
    padding-top: 150px;
    color: #b5b0b0;
}


/**BOOKS**/


/**book-list**/


/**KEEPS**/


/**MAIL**/

.email-list {
    padding: 15px;
    background-color: #fff;
    gap: 20px;
    flex: 1;
    margin-left: 10px;
    background-image: url(../images/mail.jpg);
    background-size: cover;
}

.email-list .email-container {
    padding: 15px;
    background-color: rgb(184, 178, 178, 0.6);
}

.email-list .email-container .btn-subject-wrapper {
    gap: 20px;
}

.email-list .email-container .star {
    font-size: 20px;
}

.email-list .email-container .star.yellow {
    color: rgb(233, 180, 7);
}

.email-list .email-container .created-at {
    align-self: flex-end;
}

.btn-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 0;
    margin-top: 10px;
}

.filter-list {
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.mail-container {
    display: flex;
    justify-content: flex-end;
}


/* ABOUT */

.about-page {
    background-image: url(../images/about.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    position: absolute;
    text-align: center;
    color: #474444;
    left: 285px;
    padding: 20px;
    top: 50px;
    max-width: 350px;
}

.about-container p,
h2 {
    padding-bottom: 20px;
}


/* NAVBAR */

.logo {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-bar-tabs {
    margin-right: 20px;
}

a {
    margin: 5px;
}

a:hover {
    color: rgb(129, 139, 129);
}


/* FOOTER */

footer {
    background-color: #b5b0b0;
    padding: 10px;
}


/* ICONS */

.fa-plus-circle {
    color: red;
    font-size: 20px;
    padding-right: 8px;
}